* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #868e96;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-y: auto;
}

nav {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    width: 270px;
    background-color: #16a085;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: large;
}

nav h3 {
    display: none;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 35px;
    margin-bottom: 45px;
}

nav ul li {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #485460;
    padding-bottom: 10px;
}

nav a:hover {
    color: white;
}

#content {
    background-color: #485460;
    color: white;
    flex: 4;
    overflow-y: scroll;
    font-family: 'Noto Sans', sans-serif;
}

section h2 {
    color: #16a085;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Saira Extra Condensed, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e272e;
}

h2 {
    font-size: 3.5rem;
}

section {
    padding: 45px;
    height: 100vh;
    margin-bottom: 30px;
}

i {
    padding-right: 20px;
}

p {
    font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #dfe6e9;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

#about {
    padding-top: 190px;
    padding-left: 100px;
}

#snm {
    display: inline;
    color: #16a085;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Saira Extra Condensed, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.5rem;
    padding-bottom: 0px;
    color: #1e272e;
}

.subheading p {
    margin-bottom: 10px;
}

.href {
    text-decoration: none;
    color: #1e272e;
}

.fav {
    display: inline;
}

.fav img {
    margin-top: 1px;
    margin-left: 0px;
    padding-right: 5px;
    height: 45px;
    width: 45px;
}

.edcont {
    padding-top: 70px;
}

.edcont h5 {
    color: #e17055;
    font-family: 'Baloo Bhai 2', cursive;
}

.ed1 {
    padding-top: 55px;
}

.ed1 h5 {
    color: #e17055;
    font-family: 'Baloo Bhai 2', cursive;
}

.ed2 {
    padding-top: 60px;
}

.ed2 h5 {
    color: #e17055;
    font-family: 'Baloo Bhai 2', cursive;
}

h3 {
    font-size: 2rem;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 20px auto 0;
}

.skill-tile {
    max-width: 150px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.skill-tile img {
    width: 10%;
}

#projects a {
    text-decoration: none;
}

#projects h3:hover {
    color: white;
}

.procont {
    padding-top: 50px;
}

.procont h5 {
    color: #3498db;
    font-family: 'Baloo Bhai 2', cursive;
}

#certification a {
    text-decoration: none;
}

#certification a:hover {
    color: white;
}

.int {
    text-transform: uppercase;
}

a:hover {
    color: white;
}

footer {
    display: none;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    nav {
        display: block;
        top: 0;
        margin: 0;
        height: 50px;
        width: 100%;
    }
    nav h3 {
        display: block;
        padding-top: 8px;
        padding-left: 8px;
        color: white;
        float: left;
    }
    img {
        display: none;
    }
    nav ul {
        display: none;
    }
    main {
        flex-direction: column;
        margin: 0;
        width: 100%;
        margin-left: 0;
        height: auto;
        overflow-y: scroll;
    }
    body {
        height: 100%;
        margin: 0;
        width: 100%;
    }
    #mobile {
        display: block;
    }
    #about {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 45px;
        padding-top: 25px;
    }
    #about p {
        margin-top: -30px;
    }
    section {
        height: auto;
    }
    .procontt {
        padding-top: 50px;
    }
    p,
    h5 {
        display: block;
        text-align: justify;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    a {
        padding-top: 20px;
    }
    .skill-tile {
        display: block;
    }
    #certification {
        margin-bottom: 10px;
    }
    footer {
        display: block;
        background-color: #222f3e;
        color: white;
        margin: 0;
        padding: 7px 2px;
        width: 100%;
    }
    footer h3 {
        color: white;
        font-size: 18px;
        text-align: center;
        justify-content: center;
        align-self: center;
    }
}

@media (max-width: 950px) {
    section {
        height: auto;
        margin-bottom: 90px;
    }
}

@media (min-width: 801px) and (max-width: 949px) {
    section {
        height: auto;
        margin-bottom: 90px;
    }
}

@media (max-width: 1250px) {
    section {
        height: auto;
        margin-bottom: 90px;
    }
}
