*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    font-family: Muli,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #868e96;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

nav {
    flex: 1;
    height: 100vh;
    width: 270px;
    background-color: #10ac84;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: large;
}

nav h3 {
    display: none;
}

img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 35px;
    margin-bottom: 60px;
}

nav ul li {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #a5b1c2;
    padding-bottom: 10px;
}

nav a:hover {
    color: white;
}

#content {
    background-color: #636e72;
    color: white;
    flex: 4;
    overflow-y: scroll;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Saira Extra Condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e272e;
}

h2{
    font-size: 3.5rem;
}

section {
    padding: 40px;
    height: 100vh;
}

p {
    font-family: Muli,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #dfe6e9;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

#about {
    padding-top: 190px;
    padding-left: 100px;
}

#snm {
    display: inline;
    color: #10ac84;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Saira Extra Condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1.5rem;
    color: #2d3436;
}

.href{
    text-decoration: none;
    color: #2d3436;
}

.fav {
    display: inline;
}


.fav img {
    margin-top: 10px;
    margin-left: 0px;
    padding-right: 5px;
    height: 50px;
    width: 50px;
}

footer {
    display: none;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    nav {
        display: block;
        width: 100%;
        margin-top: 0;
        height: 7vh;
    }

    nav h3 {
        display: block;
        padding-top: 8px;
        padding-left: 8px;
        color: white;
        float: left;
    }

    img {
        display: none;
    }

    nav ul li {
        display: none;
    }

    main {
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
        overflow-y: scroll;
    }

    body {
        flex-direction: column;
        height: 100%;
    }

    footer{
        display: block;
        background-color: #222f3e;
        color: white; 
        padding: 7px;
        margin: 0;
        width: 100%;
    }

    footer h3{
        text-align: justify;
        justify-content: center;
        align-self: center;
    }

}